<a href="https://colab.research.google.com/github/ragcoder/ProgrammingAssignment2/blob/master/DEND_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python Recap

### Strings

In [0]:
message = ''

In [0]:
# what can we do with a string object?

### Numbers

In [0]:
# int 

# float

### Arithmetic

In [0]:
# + 

# - 

# * 

# /

# % --> Modulus

# ** --> Exponent

# // --> Floor Division

### Help

### Python Booleans

In [0]:
# bool()

In [0]:
# Can we add Booleans to integers?

In [0]:
# int()

### If, then, else

### Functions

In [0]:
# Default Parameter Value

### Sets

### Lists

### Dictionaries

### Tuples

### loops

In [0]:
# for 


# while

### List Comprehension

### Slicing

### Lambda Expressions & Anonymous Functions

### Map, Filter functions

### Sorting

### Zip and Enumerate

In [0]:
cast_names = ["Barney", "Robin", "Ted", "Lily", "Marshall"]
cast_heights = [72, 68, 72, 66, 76]

----
## Exercises

### Intermediate

* **add all of the numbers from 1 to 100**

* **Extract the last 3 entries of the following list:**

In [0]:
list1=[1,1,2,3,5,8,13,22]
#Ans:

* **Take two lists, say for example these two:**

`a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]`

`b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]`

 **and write a program that returns a list that contains only the elements that are common between the lists Make sure your program works on two lists of different sizes.**

In [0]:
def common_btw_2(list1,list2):
    # TODO
    pass

a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

# test 
common_btw_2(list1=a,list2=b)

*  **using List Comprehensions, x to the power of 2 is evaluated if x is even for number 0-15**

---
### Project Euler Problems

https://projecteuler.net/about

* **If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23. 
Find the sum of all the multiples of 3 or 5 below 1000.**
> Check your answer in project eulr:  https://projecteuler.net/problem=1

In [0]:
# bonus: can you do it in one line? (hint: use list comprehension)

* **Each new term in the `Fibonacci sequence` is generated by adding the previous two terms. By starting with 1 and 2, the first 10 terms will be: `1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...`** 


* **By considering the terms in the `Fibonacci sequence` whose values do not exceed four million, find the sum of the even-valued terms.**
> Check your answer in project eulr:  https://projecteuler.net/problem=2

In [0]:
# generate Fibonacci sequence --> do not exceed four million

# taking even numbers only 

# sum

* **The series, $1^1 + 2^2 + 3^3 + ... + 10^{10}$ = 10405071317.**

* **Find the last ten digits of the series, $1^1 + 2^2 + 3^3 + ... + 1000^{1000}$.**

> https://projecteuler.net/problem=48

* **A palindromic number reads the same both ways. The largest palindrome made from the product of two 2-digit numbers is `9009 = 91 × 99`.**


* **Find the largest palindrome made from the product of two 3-digit numbers.**

> https://projecteuler.net/problem=4

* **n! means n × (n − 1) × ... × 3 × 2 × 1**

* **For example, 10! = 10 × 9 × ... × 3 × 2 × 1 = 3628800**

* **and the sum of the digits in the number 10! is 3 + 6 + 2 + 8 + 8 + 0 + 0 = 27.**

**Find the sum of the digits in the number 100!**

> https://projecteuler.net/problem=20

In [0]:
# (hint: use recursions)
def n_factorial(n):
    pass

n_factorial(n=10)

3628800

In [0]:
# take the last ten digits

* **By listing the first six prime numbers: 2, 3, 5, 7, 11, and 13, we can see that the 6th prime is 13.**

* **What is the 10 001st prime number?**

`A prime number is a whole number greater than 1 whose only factors are 1 and itself.`

> https://projecteuler.net/problem=7

In [0]:
def is_prime(num):
    pass

### Challenging

Surprisingly there are only three numbers that can be written as the sum of fourth powers of their digits:

> $1634 = 1^4 + 6^4 + 3^4 + 4^4$

> $8208 = 8^4 + 2^4 + 0^4 + 8^4$

> $9474 = 9^4 + 4^4 + 7^4 + 4^4$

As $1 = 1^4$ is not a sum it is not included.

The sum of these numbers is 1634 + 8208 + 9474 = 19316.

Find the sum of all the numbers that can be written as the sum of fifth powers of their digits.

> https://projecteuler.net/problem=30